li.separator {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

ul.list li {
    list-style-type: circle;
}

div.login-panel {
    background: #f2f3f8;
    width: 100%;
    height: 100%;
    position: relative;
}

div.login-form {
    height: 45%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

table#rasci {
    table-layout: fixed !important;
}

table#rasci td {
    height: 85px;
    overflow: hidden;
    /*overflow-style: ;*/
}

table#rasci th, table#rasci td:not(:first-of-type) {
    text-align: center;
}

table.table.table-bordered#rasci th.edge{
    border-top: 1px transparent solid !important;
    border-left: 1px transparent solid !important;
    border-right: 2px solid #ebedf2 !important;
}

table.table.table-bordered#rasci th {
    border-top: 2px solid #ebedf2;
    border-right: 2px solid #ebedf2;
}

table.table.table-bordered#rasci tr td:first-of-type {
    border: 2px solid #ebedf2 !important;
}

table.table.table-bordered#rasci tr td:last-of-type a, table.table tr td.remove {
    color: white;
}

table.table.table-bordered#rasci tr:hover td:last-of-type li:first-of-type a i {
    color: black;
    cursor: pointer;
}

table.table.table-bordered#rasci tr:hover td:last-of-type li:last-of-type a i{
    color: #ff545d;
    cursor: pointer;
}

table.table tr:hover td.remove {
    color: black;
    cursor: pointer;
}

table.table.table-bordered#rasci tr td:last-of-type {
    padding-right: 25px !important;
    border-right: 1px white solid !important;
    border-top: 1px white solid !important;
    border-bottom: 1px white solid !important;
}

td.rasci-responsible {
    background: #ff4c60;
    color: white;
}
td.rasci-accountable {
    background: #fbad4c;
    color: white;
}

td.rasci-support {
    background: #6cc6d7;
    color: white;
}

td.rasci-consulted {
    background: #507abc;
    color: white;
}

td.rasci-informed {
    background: #b382c0;
    color: white;
}

div.task-role-info {
    text-align: center;
    background: white;
    width: 12em;
    border: 1px solid #ebedf2;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

/** RAINBOW SECTION **/
/* red */
span.rainbow-red {
    color: #e1371a;
}

/* orange */
.sidebar .nav .nav-item.active.rainbow-orange a:before, .sidebar .nav .nav-item.active.rainbow-orange:hover a:before {
     background: #ec7328;
}
.sidebar .nav .nav-item.active.rainbow-orange a i {
    color: #f1945b;
}
.sidebar .nav .nav-item.rainbow-orange:hover a:before {
    /* background orange*/
    background: #ec7328;
}

/* yellow */
.sidebar .nav .nav-item.active.rainbow-yellow a:before, .sidebar .nav .nav-item.active.rainbow-yellow:hover a:before {
    background: #fdbd37;
}
.sidebar .nav .nav-item.active.rainbow-yellow a i {
    color: #fed681;
}
.sidebar .nav .nav-item.rainbow-yellow:hover a:before {
    background: #fdbd37;
}

/* green */
.sidebar .nav .nav-item.active.rainbow-green a:before, .sidebar .nav .nav-item.active.rainbow-green:hover a:before {
    background: #1ca56d;
}
.sidebar .nav .nav-item.active.rainbow-green a i {
    color: #25da8f;
}
.sidebar .nav .nav-item.rainbow-green:hover a:before {
    background: #1ca56d;
}

/* blue */
.sidebar .nav .nav-item.active.rainbow-blue a:before, .sidebar .nav .nav-item.active.rainbow-blue:hover a:before {
    background: #1c96bf;
}
.sidebar .nav .nav-item.active.rainbow-blue a i {
    color: #37b7e1;
}
.sidebar .nav .nav-item.rainbow-blue:hover a:before {
    background: #1c96bf;
}

/* purple */
.sidebar .nav .nav-item.active.rainbow-purple a:before, .sidebar .nav .nav-item.active.rainbow-purple:hover a:before {
    background: #8e56ac;
}
.sidebar .nav .nav-item.active.rainbow-purple a i {
    color: #af87c4;
}
.sidebar .nav .nav-item.rainbow-purple:hover a:before {
    background: #8e56ac;
}


/* pink */
.sidebar .nav .nav-item.active.rainbow-pink a:before, .sidebar .nav .nav-item.active.rainbow-pink:hover a:before {
    background: #ac5686;
}
.sidebar .nav .nav-item.active.rainbow-pink a i {
    color: #bc769c;
}
.sidebar .nav .nav-item.rainbow-pink:hover a:before {
    background: #ac5686;
}

div.logo-header {
    background: url('../img/unicorn.png') no-repeat;
    background-size: 70px;
    background-position: 5% 35%;

}

a.logo {
    padding-left: 25px;
}

ul.edit-delete {
    padding: 0;
    margin: 0;
}

ul.edit-delete li {
    margin: 0 2px 0 0;
    padding: 0;
    list-style-type: none;
    height: 22px;
}

ul.edit-delete li.separator {
    height: 7px;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

table a, table a:hover, table a:visited {
    color: black;
    text-decoration: none;
}